<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h1 style="color: #04009a; text-align: left;"><b>Nuestro <br> Personal</b></h1>
            <p style="text-align: justify;">Nuestros expertos son los más destacados en sus especialidades. <br>
                Cuentan con una gigantesca vivencia y una arraigada filosofía de servicio. DentiCenter continuamente
                se ha caracterizado por su atención profesional y humana, cada paciente es exclusivo y de esta forma
                deseamos que se sientan. Todos nuestros propios médicos y auxiliares poseen una reconocida
                trayectoria y vienen de las universidades y escuelas más populares del territorio. </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="ratio ratio-16x9">
                <iframe width="720" height="480" src="https://www.youtube.com/embed/wouIJfUL0-c"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<br>
<div style="background-color: #77acf1;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img src="../../../assets/Dentistas.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h1 style="color: #04009a; text-align: center;"><b>Misión</b></h1>
                <p style="text-align: justify;">Brindar servicios odontológicos integrales contribuyendo a
                    solucionar eficazmente los inconvenientes de salud oral de nuestros propios pacientes,
                    implementando para eso conceptos de excelencia en el servicio, eficiencia en la administración y
                    calidez personalizada en la atención. </p>

            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h1 style="color: #04009a; text-align: center;"><b>Visión</b></h1>
            <p style="text-align: justify;">Ser la clínica odontológica jefe en la costa norte de Colombia con
                lo más avanzado en tecnología y con los especialistas que reúnan los requisitos máximos de
                profesionalismos y excelencia, para saciar al más alto las exigencias de nuestros propios
                pacientes e ir más allá de sus expectativas, basada en el procedimiento personalizado
                brindándoles nuestra vivencia a su servicio. </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="../../../assets/dentista_fame (2).jpg" class="img-fluid" alt="">
        </div>
    </div>
</div>
<br>

<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
            <img src="../../../assets/marcador-de-posicion.png" width="23px" height="23px" alt="">
            <h3 style="color: #04009a;"><b>Donde estamos ubicados</b> </h3>
            <div class=>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15669.321318915432!2d-74.78837593022459!3d10.938400799999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef5cd58eaf61a81%3A0xbba4f32187c99b25!2sDental%20center!5e0!3m2!1ses!2sco!4v1632082491887!5m2!1ses!2sco"
                    width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
<br>

<router-outlet></router-outlet>