
<div class="row">
  <div class="col-lg-12 col-sm-12 col-md-12">
    <h1 class="display-5" style="text-align: center; color: #77acf1">
      TRATAMIENTOS MAS POPULARES
    </h1>
  </div>
  <div class="col-lg-4 col-sm-4 col-md-4">
    <div class="card mb-3">
      <img src="../assets/EsteticaDental.jpg" height="200px" class="card-body" alt="..."
        style="background-color: #77acf1" />
      <div class="card-body" style="background-color: #77acf1; height: max-content;">
        <h5 class="card-title">Estetica Dental</h5>
        <p class="card-text" style="text-align: justify;">
          Una sonrisa bonita es un factor importante para sentirnos a
          gusto con nosotros mismos. Eso ya lo sabes.Tener dientes y
          encías sanos nos ayuda a sonreír sin ninguna clase de temores ni
          complejos.Pero,¿qué tratamientos estéticos pueden perfeccionar
          nuestra sonrisa y convertirla en una sonrisa de cine?

        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-4 col-md-4">
    <div class="card mb-3">
      <img src="../assets/Endoncia.jpg" class="card-body" alt="..." height="200px" style="background-color: #77acf1" />
      <div class="card-body" style="background-color: #77acf1;">
        <h5 class="card-title">Endocia</h5>
        <p class="card-text" style="text-align: justify;">
          El tratamiento se realiza bajo anestesia local, por lo que no
          resulta doloroso. Si es verdad que, una vez finalizado el efecto
          de la anestesia, el paciente podría sentir durante los
          siguientes días alguna molestia a la hora de masticar.
          <br><br><br>
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-4 col-md-4">
    <div class="card mb-3">
      <img style="background-color: #77acf1" src="../assets/Ortodoncia.jpg" height="200px" class="card-body"
        alt="..." />
      <div class="card-body" style="background-color: #77acf1">
        <h5 class="card-title">Ortodoncia</h5>
        <p class="card-text" style="text-align: justify;">
          Se utilizan diversos tipos de aparatos, fijos y removibles, para
          mover los dientes, volver a entrenar los músculos y modificar el
          crecimiento de las mandíbulas. Estos aparatos funcionan
          aplicando una presión suave sobre los dientes y los huesos. La
          severidad del problema deteminará cuál será el enfoque
          ortodóncico más eficaz.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="col-lg-12 col-sm-12 col-md-12">
    <h1 class="display-5" style="text-align: center; color: #77acf1">
      TRATAMIENTOS MAS POPULARES
    </h1>
  </div>
  <div class="col-lg-12 col-sm-12 col-md-12">
    <table class="table table-striped">
      <tr>
        <th>Tratamiento</th>
        <th>Descripción</th>
        <th>Precio</th>
      </tr>
      <tr>
        <td>Estetica Dental</td>
        <td>
          Incluye técnicas utilizadas para enderezar, blanquear y
          restaurar los dientes y darles nueva forma.
        </td>
        <td style="width: 15%">$ 200.000</td>
      </tr>
      <tr>
        <td>Ortodoncia</td>
        <td>
          Consiste en corregir los defectos y las irregularidades de
          posición de los dientes.
        </td>
        <td style="width: 15%">$ 500.000</td>
      </tr>
      <tr>
        <td>Endoncia</td>
        <td>
          El objetivo de este tratamiento es limpiar el diente por dentro
          y rellenarlo de un material inerte.
        </td>
        <td style="width: 15%">$ 320.000</td>
      </tr>
      <tr>
        <td>Ferula Dental</td>
        <td>
          Placa que se ajusta a todas las piezas dentales para amortiguar
          la mordida y descansar los músculos de la mandíbula
        </td>
        <td style="width: 15%">$ 150.000</td>
      </tr>
      <tr>
        <td>Blanqueamiento Dental</td>
        <td>
          Consiste en la aplicación de peróxido de hidrógeno o carbamida
          sobre el esmalte dental para conseguir aclarar varios tonos el
          color del diente
        </td>
        <td style="width: 15%">$ 1.000.000</td>
      </tr>
      <tr>
        <td>Carillas Bucales de Porcelana</td>
        <td>
          Permite tapar algunos defectos de forma y color de los dientes,
          incluyendo la holgura de los espacios interdentales
        </td>
        <td style="width: 15%">$ 700.000</td>
      </tr>
      <tr>
        <td>Carillas Bucales de composite</td>
        <td>
          Son unas finas láminas que se adhieren a la cara vestibular
          -externa- de los dientes para mejorar su apariencia.
        </td>
        <td style="width: 15%">$ 100.000</td>
      </tr>
      <tr>
        <td>Implantes Dentales</td>
        <td>
          Son una forma popular y efectiva de reemplazar los dientes
          perdidos y están diseñados para disimularse entre los otros
          dientes. Son una excelente opción a largo plazo para restaurar
          su sonrisa.
        </td>
        <td style="width: 15%">$ 4.500.000</td>
      </tr>
    </table>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-6 col-md-6">
      <form id="form3" onsubmit="return false" autocomplete="off">
        <div class="mb-3">
          <label class="form-label">Servicios Disponibles</label>
          <div class="mb-3">
            <select style="border-radius: 10px; width: min-content;" class="form-select" id="cmbServicios">
              <option disabled selected>Escoger...</option>
              <option>Estetica Dental</option>
              <option>Ortodoncia</option>
              <option>Endoncia</option>
              <option>Ferula Dental</option>
              <option>Blanqueamiento Dental</option>
              <option>Carillas Bucales de Porcelana</option>
              <option>Carillas Bucales de composite</option>
              <option>Implantes Dentales</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Cuota Inicial</label>
          <input type="number" class="form-control" style="border-radius: 10px; width: 20%;" id="txtCuotaInicial"
            aria-describedby="number">
          <div class="form-text">Aqui ingrese su Cuota Inicial</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Metodos De Pago</label>
          <div class="mb-3">
            <select style="border-radius: 10px; width: min-content;" class="form-select" id="cmbPago">
              <option disabled selected>Escoger...</option>
              <option>Efectivo</option>
              <option>Tarjeta</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Fecha</label><br>
          <input class="form-control" type="date" id="fecha" name="trip-start"
            style="border-radius: 10px; width: min-content;" min="2021-10-01" max="2022-01-01">
        </div>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="terminosycondiciones3">
          <label class="form-check-label" for="terminosycondiciones3">Acepto Terminos Y Condiciones</label>
        </div>
        <button type="submit" class="btn btn-primary" id="btnEnviarDatos3" onclick="crear()">
          Enviar</button>
        <button type="submit" class="btn btn-warning" disabled id="btnEditarDatos3" onclick="actualizar()">
          Editar </button>
      </form>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6">
      <br>
      <br>
      <figure class="figure">
        <img src="../assets/ServiciosOdontologicos.jpg" class="img-fluid" alt="..." style="border-radius: 16%;">
        <figcaption class="figure-caption" style="text-align: center;"> Servicios 100% Garantizados.</figcaption>
      </figure>
    </div>
  </div>
  <br>
  <div id="cuadro3" style="display: none;">
    <table class="table table-hover table-dark" id="tabladatos3">

      <tr>
        <th>ID</th>
        <th>Servicio</th>
        <th>Metodo de Pago</th>
        <th>Cuota Inicial</th>
        <th>Fecha</th>
        <th class="text-center">Opcion</th>
      </tr>

    </table>
  </div>
</div>
<br>