<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
      <h1 style="color: #77acf1">
        <marquee behavior="" direction="left"><b>Blog Smile</b></marquee>
      </h1>
      <h4>
        Este es tu espacio, encontrarás noticia, artículos <br />
        y tips para el cuidado de tu salud dental.
      </h4>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9">
      <h2 style="color: #04009a">
        5 Consejos para obtener dientes mas sanos
      </h2>
      <br />
      <img src="../assets/dientes.jpg" class="img-fluid" alt="" />
      <br />
      <p style="text-align: justify">
        En ocasiones se nos olvidan lo fundamental que son nuestros propios
        dientes en nuestra vida diaria y no los cuidamos correctamente.
        Nuestro grado de confianza reduciría si nuestra sonrisa no es la
        misma. No se debe olvidar que la salud oral tiene un efecto en
        nuestra salud general la cual ayuda a patologías como la diabetes,
        endocarditis y patologías cardiovasculares. Hay algunas formas de
        lograr dientes sanos. Hemos reunido 5 tips para mejorar la salud y
        la aspecto de su sonrisa.
      </p>
      <br />
      <h4 style="color: #04009a">
        1. Cepillarse al menos dos veces al día
      </h4>
      <p style="text-align: justify">
        Hay que cepillarse los dientes por lo menos, dos veces al día, cada
        mañana y noche. Si es posible también después de cada comida para
        prevenir la acumulación de bacterias. Usted debe cepillarse por un
        total de 2 a 3 minutos.
      </p>
      <br>
      <h4 style="color: #04009a">2. Cepillar la lengua</h4>
      <p style="text-align: justify">
        Las bacterias se acumulan en las pequeñas grietas de la lengua, ya
        que no es una superficie lisa. Las bacterias permanecen allí hasta
        que la lengua sea raspada. Por lo tanto, cepillar la lengua es
        esencial para mantener dientes sanos así como para detener el mal
        aliento.
      </p>
      <br>
      <h4 style="color: #04009a">3. Límite Ingestión de bebidas ácidas</h4>
      <p style="text-align: justify">
        Algunas bebidas ácidas incluyen refrescos, jugos de frutas y vino.
        Las bebidas ácidas disuelven el esmalte de sus dientes que conducen
        a sensibilidad y cavidades. Si usted consume bebidas ácidas, es
        recomendable usar un popote, y tomar agua después para naturalizar
        algo del ácido.
      </p>
      <br />
      <h4 style="color: #04009a">4. Límite los alimentos azucarados</h4>
      <p style="text-align: justify">
        Los alimentos azucarados conducen a las caries dentales. Sea
        consciente de lo que consume leyendo los datos nutricionales y las
        etiquetas, tomando decisiones prudentes y eligiendo opciones con
        bajos contenidos de azúcares. Tenga en cuenta que los alimentos
        ricos en almidón como la pasta y el pan se descomponen en azúcar con
        el contacto de la saliva.
      </p>
      <br>
      <h4 style="color: #04009a">
        5. Sólo use los dientes para masticar los alimentos
      </h4>
      <p style="text-align: justify">
        No use los dientes para romper nueces, morderse las uñas, abrir
        paquetes o quitar las tapas de las botellas. De lo contrario, corre
        el riesgo de romper, y erosionar los dientes debido a la presión
        expuesta.
      </p>
      
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">
      <img class="img-fluid" src="../assets//megalotipo.jpg" alt="" />
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
          <div id="emailHelp" class="form-text">
            Ingrese su correo si quiere recibir más articulos
          </div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1">Aceptas terminos de condiciones</label>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
      <br>
      <br>
      <br><br><br>
      <img class="img-fluid" src="../../../assets/beautiful-1427841_1920.jpg" style="border-radius: 5%"  alt="" />
      <figcaption class="figure-caption" style="text-align: center;"> Para un mundo con más sonrisas.</figcaption>
    </div>
  </div>
</div>
