<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <header style="width: 100%; height: auto; overflow: hidden;">
            <video autoplay loop muted width="100%">
                <source src="../assets/video1.mp4">
            </video>
        </header>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <img class="img-fluid" src="../assets/EQUIPO~1.PNG" alt="" />
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7">
            <br /><br />
            <h1 style="color: #77acf1" class="rounded float-end">
                <b>Bienvenidos a <br />
                    nuestra Clinica</b>
            </h1>
            <h5 class="rounded float-end" style="text-align: right;">
                Nuestra sede está dotada con conjuntos <br />
                de última tecnología y superficies diseñadas <br />
                con las más modernas especificaciones <br />
                para las todas las disciplinas odontológicas.
            </h5>
        </div>
    </div>
</div>
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <marquee behavior="" direction="right">
                <h2 style="color: #04009a"><b>Blog Smile</b></h2>
            </marquee>
            <a href="html/blog.html" style="text-decoration: none;"><img class="rounded float-start"
                    src="../assets/at-dentist-with-smile.jpg" width="450px" alt="" />
                <br>
                <br>
                <br>
                <br>
                <br>
                <i>Todo lo que debe saber
                    <br />
                    para tener dientes sanos</i>
            </a>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2 style="color: #04009a; text-align: center">
                <b>Estamos ubicados</b>
            </h2>
            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15669.321318915432!2d-74.78837593022459!3d10.938400799999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef5cd58eaf61a81%3A0xbba4f32187c99b25!2sDental%20center!5e0!3m2!1ses!2sco!4v1632082491887!5m2!1ses!2sco"
                    width="100%" height="200px" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
<br />

<router-outlet></router-outlet>