<div class="container">
  <div class="display-4" style="text-align: center; color:#77acf1;">Ingrese Sus Datos</div>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <form #form="ngForm">
        <div class="mb-3">
          <label for="txtNombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" name="txtNombre" [(ngModel)]="txtNombre"
            style="border-radius: 10px; width: 80%;" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          <div class="form-text">Aqui ingrese su nombre</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Apellidos</label>
          <input type="text" class="form-control" name="txtApellidos" [(ngModel)]="txtApellidos"
            style="border-radius: 10px; width: 80%;" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          <div class="form-text">Aqui ingrese sus apellidos</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Tipo de documento de identidad</label>
          <div class="mb-3">
            <select style="border-radius: 10px; width:min-content;" class="form-select" name="cmbTipoDocumento"
              [(ngModel)]="cmbTipoDocumento">
              <option disabled selected> Seleccionar Tipo </option>
              <option>Cédula de Ciudadanía</option>
              <option>Terjeta de Identidad</option>
              <option>Cédula de Extranjería</option>
              <option>Pasaporte</option>
              <option>Tarjeta militar</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Número de documento</label>
          <input type="text" class="form-control" style="border-radius: 10px; width: 60%;" name="txtid"
            [(ngModel)]="txtid" aria-describedby="text">
          <div class="form-text">Aqui ingrese su número de documento</div>
        </div>

        <div class="mb-3">
          <label class="form-label">Edad</label>
          <input type="number" class="form-control" style="border-radius: 10px; width: 40%;" name="txtEdad"
            [(ngModel)]="txtEdad" aria-describedby="number">
          <div class="form-text">Aqui ingrese su Edad</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Tratamientos</label>
          <div class="mb-3">
            <select style="border-radius: 10px; width: min-content;" class="form-select" name="cmbTratamientos"
              [(ngModel)]="cmbTratamientos">
              <option disabled="true" selected>Escoger...</option>
              <option>Estetica Dental</option>
              <option>Ortodoncia</option>
              <option>Endoncia</option>
              <option>Ferula Dental</option>
              <option>Blanqueamiento Dental</option>
              <option>Carillas Bucales de Porcelana</option>
              <option>Carillas Bucales de composite</option>
              <option>Implantes Dentales</option>
            </select>
          </div>
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" style="border-radius: 10px; width: 70%;" name="txtEmail"
            [(ngModel)]="txtEmail" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Aqui ingrese su correo electronico</div>
        </div>

        <div class="mb-3">
          <form><label class="form-label">Genero</label>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="radio1" name="genero" required>
              <label class="custom-control-label" for="radio1" value="Hombre">Hombre</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="radio2" name="genero" required>
              <label class="custom-control-label" for="radio2" value="Mujer">Mujer</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input type="radio" class="custom-control-input" id="radio3" name="genero" required>
              <label class="custom-control-label" for="radio3" value="Alien">Alien</label>
            </div>
          </form>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="terminosycondiciones"
              [(ngModel)]="terminosycondiciones">
            <label class="form-check-label" for="terminosycondiciones">Acepto Terminos Y Condiciones</label>
          </div>
        </div>

      </form>
      <button type="submit" class="btn btn-primary" value="add paciente" (click)="addPaciente(form)">
        Enviar</button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 align-self-center">
      <img src="../../../assets/poster.jpg" class="img-fluid" style="border-radius: 10%;" alt="">
    </div>
  </div>
  <br>
  <br>
  <app-tabla-c> </app-tabla-c>
</div>